body {
	box-sizing: border-box;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

section {
	margin: 100px 0;
}

h1 {
	text-align: center;
    font-family: 'Raleway', sans-serif;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 32px;
    margin: 20px 0 30px;
    font-weight: 100;}

h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

h6 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: inherit;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
}

p {
	color: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
}

header {
	position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
    transition: 1s;
    box-shadow: -2px -1px 6px 0 #795548;
}

.fixed {
	position: fixed;
	background-color: rgba(60, 135, 156, 0.97);
	height: 60px;
}

.center {
	text-align: center;
}

.description {
	margin: 20px 0;
	text-align: center;
}

/*logo*/
.brand {
    position: absolute;
    width: 300px;
    height: 50px;
    margin: -50px 0 0 40px;
    transition: 1s;
}

.showme {
    margin: 3px 0 0 40px;
    transition: 1.5s;
}

.logo {
    display: inline-block;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 200px;
    margin: 6px 50px;
}

/*navigation*/

nav {
	width: 100%;
	display: inline-block;
	height: 60px;
}

.menu {
	width: 100%;
	display: inline-block;
}

.nav {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 1s;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.move {
	font-size: 16px;
	transition: 1s;
}

.navbar-nav li a {
	padding: 0 30px;
	border-radius: 0;
	color: white;
	line-height: 60px;
}

.navbar-nav li {
	margin: 0 40px;
}

.nav li a:hover, .nav li a:focus {
	background: none;
	color: yellow;
}

.navbar-nav li a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
    color: white;
}

/*jumbotron*/
.jumbotron {
	background-image: url(../images/bg_plusz.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0;
}

.mainslogan {
    display: inline-block;
    margin: 200px 0;
    width: 50%;
    height: 340px;
    position: relative;

}

.name {
	width: 100%;
	font-family: 'Bigelow Rules', sans-serif;
	height: 175px;
	text-align: center;
	font-size: 100px;
    color: yellow;
    padding-top: 15px;
    text-shadow: 2px 2px 0 grey;
}

.division {
	background-image: url('../images/division.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
}

.surname p {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	height: 25px;
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 24px;
    color: mintcream;
    padding-top: 28px;
    text-shadow: 1px 1px 1px grey
}

/*scroll*/

.scroller:before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -2px;
    left: -12px;
    background: rgba(185, 66, 66, 0.39);
    background-color: transparent;
    border: 1px dashed white;
    border-radius: 50%;
}

.scroller {
	color: white;
	position: absolute;
	bottom: 40px;
	left: 50%;
	animation: scrollBtn .8s infinite;
}

@keyframes scrollBtn {
	0% {
		bottom: 50px;
	}
	50%{
		bottom: 40px;
	}
	100%{
		bottom: 50px;
	}
}

/*Kolumny*/

.columns {
	margin-top: 0;
}

.columns .col-lg-6 {
	padding: 0;
}

.columns .row {
	width: 100%;
    margin: 0;
}

.columns .leftcolumn, .rightcolumn {
	height: 667px;
	background-color: rgba(33, 150, 243, 0.03);
}

.columns .picture {
	background-position: center;
	background-repeat: no-repeat;
	height: 667px;
}

.columns .pic1{
	background-image: url('../images/sandbox.jpg');
	background-position: center;
}
.columns .pic2{
	background-image: url('../images/drawing.jpg');
	background-position: center;
}
.columns .pic3{
	background-image: url('../images/origami.jpg');
	background-position: center;
}

.columns .quote, .vision, .mission {
width: 100%;
    margin: 235px auto;
    padding: 0 40px;
}

.columns .quote p, .vision p, .mission p {
	text-align: center;
    font-family: 'Roboto', sans-serif;
    color: inherit;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.columns span{
	font-weight: bold;
}

.columns .quote p.names {
	text-align: right;
    padding-top: 20px;
    font-family: 'Open sans', sans-serif;
    color: inherit;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
}

/*logo ue*/
.container.logoue {
	text-align: center;
	width: 100%;
	margin: 40px auto;
}

.logoue1, .logoue2, .logoue3 {
	display: inline-block;
	width: 350px;
	height: 80px;
	margin: 0 15px;
	background-position: left;
	background-size: cover;
}

.logoue1 {
	background-image: url('../images/kllogo.png');
}

.logoue2 {
	background-image: url('../images/wuplogo.png');
}
.logoue3 {
	background-image: url('../images/uelogo.png');
}

.ueinfo h4{
	margin-top: 35px;
	color: inherit;
}

/*infobox'y*/

.collapse{
	display: none;
}

.collapse.in {
	display: inline-block;
}

.butn {
	width: 250px;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	background-color: #fafafa;
	color: #6e5494;
	border: solid 1px #6e5494;
	border-radius: 10px;
	padding: 15px;
	text-transform: uppercase;
	transition: .3s;
	outline: none;
}

.butn:hover {
	background-color: #6e5494;
	color: #fafafa;
	outline: none;
}

.butn:visited {
	background-color: #6e5494;
	color: #fafafa;
	outline: none;
}

.butn:active {
	background-color: #6e5494;
	color: #fafafa;
	outline: none;

}

.butn:focus {
	background-color: #6e5494;
	color: #fafafa;
	outline: none;
}

.plany{
	display: block;
	margin: 0 auto;
}

.plans {
	margin-top: 20px;
}

.plandnia {
	margin: 100px 0 130px 0;
}

.plandnia p {
	text-align: center;
	margin: 10px 0;
}

.description {
	margin-bottom: 20px;
	}

.infobox {
	background-color: rgba(33, 150, 243, 0.03);
	height: 650px;
    margin-top: 20px;
}

.przyciski {
	display: inline-block;
}

.dayplan-btns {
	display: inline-block;
	text-align: center;
}

.dayplan-btns p {
	font-size: 16px;
}


.infobox h4{
    color: inherit;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
}

.table {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.table th {
	width: 105px;
	text-align: center;
}

table .hour{
	text-align: center;
}

/*zajecia dodatkowe*/

.zajecia {
	text-align: center;
    padding: 30px;
}

.zajeciaicons {
    display: inline-block;
    width: 150px;
    margin: 5px;
}

.addexercises {
	display: block;
	margin: 50px auto;
}

.run, .swim, .eng, .zumba {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-position: center;
	background-size: 35px 35px;
	background-repeat: no-repeat;
	text-align: center;
	margin: 0 auto;
}

.icontitle {
	display: inline-block;
	text-transform: lowercase;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.swim {
	background-image: url('../images/swimicon.png');
	background-color: #9aceec;
}

.run {
	background-image: url('../images/run.png');
	background-color: rgba(239, 126, 10, 0.76);
}
.eng {
	background-image: url('../images/engicon.png');
	background-color: #9aec9d;
}
.zumba {
	background-image: url('../images/zumbaicon.png');
	background-color: rgba(204, 83, 234, 0.58);
}

/*Kadra*/
.kadra{
	width: 100%;
	text-align: center;
	margin-bottom: 100px;
}

.ih-item.circle {
	display: inline-block;
	margin: 0 30px;
	cursor: default;
}

.ih-item.circle.effect1 .spinner {
    width: 230px;
    height: 230px;
    border: 4px solid #dad3f5;
    border-right-color: #a3d0e5;
    border-bottom-color: #CDDC39;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.ih-item.circle.effect1 .info h3 {
    padding: 80px 0 0 0;
    height: 115px;
}


/*Cennik i zasady pobytu*/

.cennik {
	text-align: center;
}

.klasyk, .karnet {
	width: 500px;
	display: inline-block;
}

.time {
	text-align: left;
	padding-left: 15px;
}

.price {
	text-align: center;
}

.borderright {
	border-right: 2px solid #a3d0e5;
}

.borderleft {
	border-left: 2px solid #a3d0e5;
}
/*formularz kontaktowy*/

.contactform {
	margin: 0 auto;
}

form {
	margin: 0 auto;
	width: 50%;
}

.form-control {
	font-size: 12px;
	font-family: "Raleway", sans-serif;
}

.form-group label{
    letter-spacing: 2px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: inherit;
}

.form-group input, .form-group textarea{
	border-radius: 0;
	border: 2px solid #97a2b4;
}

.send{
	width: 250px;
}

/*footer*/

footer {
	height: 315px;
	background-color: rgb(155, 162, 178);
	margin: 50px 0 0 0;
}

.container.foot{
	padding: 35px 15px 15px 15px;
}

footer h4 {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 18px;
	color: yellow;
	text-shadow: 2px 2px 0 grey;
	letter-spacing: 1px;
}

.adres, .links, .map {
	height: 260px;
}

.adres {
	border-right: 2px white dashed;
}

.adresleft {
	padding-left: 5px;
	padding-right: 3px;
	text-align: right;
}

.adresleft .row, .adresright .row {
	height: 60px;
}

.adresleft, .adresright, h4 {
	color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
}

.social {
	text-align: left;
	padding-left: 50px;
}

.smicon {
	display: inline-block;
	height: inherit;
	width: 50px;
}

.smicon a {
	color: white;
	text-align: center;
}

.smicon a:hover {
	color: yellow;
	text-shadow: 1px 1px 1px grey;
	transition: .3s;
}

.links {
	border-right: 2px white dashed;
}

.links ul {

	list-style-type: none;
	padding-left: 15px;
}	

.links ul li {
	padding-bottom: 8px;
}

.links ul li a {
	color: white;
	letter-spacing: 1px;
	font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.links ul li a:hover {
	text-decoration: none;
	color: yellow;
	text-shadow: 1px 1px 1px grey;
	transition: .3s;
}

.mapka {
	width: 100%;
}


/*-----------------------FOR MOBILE---------------------------------------------*/

@media(max-width: 480px) {

.row {
	margin: 0;
}

h1 {
font-size: 1.8em;
}

p {
font-size: 1em;
}

section {
	margin: 0;
}

.hidden {
	display: none;
}

/*LOGO*/	

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px dashed rgb(234, 234, 234);
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.logo {
	margin: 7px 48px;
}

.brand {
    position: absolute;
    width: 100%;
    margin: -100px 0;
    transition: 1s;
    text-align: center;
    z-index: -1;
}

.showme {
    margin: -50px 0;
    transition: 1.5s;
}

.nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s;
    display: inline-block;
    width: 100%;
}

.navbar-collapse {
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    background: rgba(65, 138, 158, 0.97);
    width: 100%;
    text-align: center;
    margin-top: 6px;
    position: fixed;
}

.navbar-nav li {
    margin: 0;
}

.navbar-nav li:hover {
   background-color: rgba(204, 56, 56, 0.12);
}

.navbar-nav li a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    color: white;
}

.navbar-collapse {
    padding: 0;
}
/*jumbotron*/

.jumbotron {
    background-image: url(../images/bg_plusz_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.mainslogan {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    top: 55px;
}

.name {
    width: 100%;
    height: auto;
    font-size: 4.5em;
    padding-top: 0;
}

.surname {
	margin: 20px 0;
}

.surname p {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: white;
    padding-top: 0;
    text-shadow: 1px 1px 1px grey;
    margin: 0;
}

.division {
	background-image: none;
	height: 1px;
	background-color: white;
	width: 200px;
	margin: 0 auto;
}

.scroll {
	display: none;
}

.columns {
	display: none;
}


/*plan dnia */

.plandnia {
	margin: 100px 0 20px 0;
}

.infobox {
	height: auto;
	margin-top: 20px;
}

.przyciski {
	width: 100%;
	text-align: center;
}

.young {
	margin-top: 10px;
}

.dayplan-btns {
	margin: 10px 0;
}

.dayplan-btns p {
	font-size: 16px;

}

.btn-primary {
	height: 50px;
    width: 220px;
}

/*KADRA*/

.kadra {
	margin-bottom: 50px;
}

.ih-item.circle {
    display: inline-block;
    margin: 0 30px;
    cursor: default;
    margin: 20px 0;
}

/*Cennik*/

.col-sm-2 {
	padding-left: 5px;
}
.zajecia {
	padding: 0;
}

.zajeciaicons {
    display: inline-block;
    width: 40%;
    margin: 5px;
}

.klasyk, .karnet {
	width: 100%;
}

.karnet {
	margin: 20px 0 50px 0;
}

.time, .price {
	display: inline-block;
}

.time {
	padding-left: 0;
}

.price {
	padding-right: 0;
}

h5 {
	font-size: 12px;
}

.borderright { 
	border-right: none;
}

.borderleft {
	border-left: none;
}

/*Formularz kontaktowy*/

.form {
	width: 100%;
}

/*footer*/

footer {
	height: auto;
}

footer h4 {
	text-align: center;
}

footer .row {
	margin-bottom: 20px;
}

.adresleft {
	text-align: center;
	text-transform: uppercase;
}

.adresleft p{
	font-weight: 600;
	margin: 0;
}

.adresright p{
	margin: 0;
}

.adres, .links, .map {
	height: auto;
	margin-bottom: 45px;
	border: none;
	text-align: center;
}

.social {
	text-align: center;
	padding: 0;
}

}

/*--------------------------------------- FOR TABLETS-----------------------------------------------*/

@media(min-width: 481px) and (max-width: 767px) {

.row {
	margin: 0;
}

h1 {
font-size: 1.8em;
}

p {
font-size: 1em;
}

section {
	margin-left: 0;
}

.col-md-6 {
	min-height: 0;
}

.hidden {
	display: none;
}

/*LOGO*/	

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px dashed rgb(234, 234, 234);
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.logo {
	margin: 7px 48px;
}

.brand {
    position: absolute;
    width: 100%;
    margin: -100px 0;
    transition: 1s;
    text-align: center;
    z-index: -1;
}

.showme {
    margin: -50px 0;
    transition: 1.5s;
}

.nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s;
    display: inline-block;
    width: 100%;
}

.navbar-collapse {
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    background: rgba(65, 138, 158, 0.97);
    width: 100%;
    text-align: center;
    margin-top: 6px;
    position: fixed;
}

.navbar-nav li {
    margin: 0;
}

.navbar-nav li:hover {
   background-color: rgba(204, 56, 56, 0.12);
}

.navbar-nav li a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    color: white;
}

.navbar-collapse {
    padding: 0;
}

/*Jumbotron*/

.jumbotron {
    background-image: url(../images/bg_plusz_tab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
}

.mainslogan {
	display: inline-block;
    margin: 145px 0 0 0;
    width: 100%;
    height: auto;
}

.name {
    width: 100%;
    height: auto;
    font-size: 6em;
    padding-top: 0px;
}

.surname {
	margin: 20px 0;
}

.surname p {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: white;
    padding-top: 0;
    text-shadow: 1px 1px 1px grey;
    margin: 0;
}

.division {
	background-image: none;
	height: 1px;
	background-color: white;
	width: 200px;
	margin: 0 auto;
}

.scroll {
	display: none;
}

/*Kolumny*/

.columns .leftcolumn, .rightcolumn {
	height: inherit;
	background-color: rgba(33, 150, 243, 0.03);
}

.mottotxt {
	height: inherit;
}

.misiontxt {
	height: inherit;
}

.visiontxt {
	height: inherit;
}

.columns .quote p, .vision p, .mission p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

.columns .quote {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -435px;
    color: white;
    background-color: rgba(232, 20, 20, 0.4);
    padding: 25px 60px;
    box-shadow: 0 0 17px 0 rgba(46, 52, 56, 0.38);
}

.columns .mission {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 235px;
    z-index: 2;
    color: white;
    background-color: rgba(57, 134, 169, 0.4);
    padding: 25px 60px;
    box-shadow: 0 0 17px 0 rgba(46, 52, 56, 0.38);
}

.columns .vision {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -445px;
    color: white;
    background-color: rgba(55, 165, 118, 0.4);
    padding: 25px 60px;
    box-shadow: 0 0 17px 0 rgba(46, 52, 56, 0.38);
}

.columns .quote p.names {
	margin-right: 85px;
}

/*plan dnia*/

.przyciski {
	width: 100%;
	text-align: center;
}

.dayplan-btns {
	margin: 10px 0;
}

/*Kadra*/
.kadra {
	margin-bottom: 0;
}

.ih-item.circle {
    display: inline-block;
    margin: 20px 6px;
    cursor: default;
}

/*Cennik*/

.zajecia {
	padding: 0;
}

.zajeciaicons {
    display: inline-block;
    width: 40%;
    margin: 5px;
}

.klasyk, .karnet {
	width: 100%;
}

.karnet {
	margin: 20px 0 50px 0;
}

.time, .price {
	display: inline-block;
}

.time {
	padding-left: 5px;
}

.price {
	padding-right: 5px;
}

h5 {
	font-size: 14px;
}

.borderright { 
	border-right: none;
}

.borderleft {
	border-left: none;
}

/*Formularz kontaktowy*/

.form {
	width: 80%;
}

/*footer*/

footer {
	height: auto;
}

footer h4 {
	text-align: center;
}

footer .row {
	margin-bottom: 20px;
}

.adresleft {
	text-align: center;
	text-transform: uppercase;
}

.adresleft p{
	font-weight: 600;
	margin: 0;
}

.adresright p{
	margin: 0;
}

.adres, .links, .map {
	height: auto;
	margin-bottom: 45px;
	border: none;
	text-align: center;
}

.social {
	text-align: center;
	padding: 0;
}

}

/*--------------------------------------- FOR TABLETS-----------------------------------------------*/

@media(min-width: 768px) and (max-width: 991px) {

.row {
	margin: 0;
}

h1 {
font-size: 1.8em;
}

p {
font-size: 1em;
}

section {
	margin-left: 0;
}

.col-md-6 {
	min-height: 0;
}

.hidden {
	display: none;
}

/*logo*/
.brand {
    position: absolute;
    width: 300px;
    height: 50px;
    margin: -50px 0 0 0;
    transition: 1s;
}

.showme {
    margin: 3px 0 0 0;
    transition: 1.5s;
}

.logo {
    display: inline-block;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 200px;
    margin: 6px 50px;
}

/*navigation*/

nav {
	width: 100%;
	display: inline-block;
	height: 60px;
}

.menu {
	width: 100%;
	display: inline-block;
}

.nav {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 1s;
	display: inline-block;
    text-align: right;
    width: 100%;
}

.move {
	font-size: 16px;
	transition: 1s;

}

.navbar {
	position: relative;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li a {
	color: white;
	line-height: 60px;
}

.navbar-nav li {
	margin: 0;
	display: inline-block;
	float: none;
}

/*Jumbotron*/

.jumbotron {
    background-image: url(../images/bg_plusz_tab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
}

.mainslogan {
	display: inline-block;
    margin: 40px 0 0 0;
    width: 100%;
    height: auto;
}

.name {
    width: 100%;
    height: auto;
    font-size: 6em;
    padding-top: 0;
}

.surname {
	margin: 20px 0;
}

.surname p {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: white;
    padding-top: 0;
    text-shadow: 1px 1px 1px grey;
    margin: 0;
}

.division {
	background-image: none;
	height: 1px;
	background-color: white;
	width: 200px;
	margin: 0 auto;
}

.scroll {
	display: none;
}

/*Kolumny*/

.columns .leftcolumn, .rightcolumn {
	height: inherit;
	background-color: rgba(33, 150, 243, 0.03);
}

.mottotxt {
	height: inherit;
}

.misiontxt {
	height: inherit;
}

.visiontxt {
	height: inherit;
}

.columns .quote p, .vision p, .mission p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

.columns .quote {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -435px;
    color: white;
    background-color: rgba(232, 20, 20, 0.4);
    padding: 25px 60px;
    box-shadow: 0 0 17px 0 rgba(46, 52, 56, 0.38);
}

.columns .mission {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 235px;
    z-index: 2;
    color: white;
    background-color: rgba(57, 134, 169, 0.4);
    padding: 25px 60px;
    box-shadow: 0 0 17px 0 rgba(46, 52, 56, 0.38);
}

.columns .vision {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -445px;
    color: white;
    background-color: rgba(55, 165, 118, 0.4);
    padding: 25px 60px;
    box-shadow: 0 0 17px 0 rgba(46, 52, 56, 0.38);
}

.columns .quote p.names {
	margin-right: 85px;
}

/*plan dnia*/

.przyciski {
	width: 100%;
	text-align: center;
}

.dayplan-btns {
	margin: 10px 0;
}

/*Kadra*/
.kadra {
	margin-bottom: 0;
}

.ih-item.circle {
    display: inline-block;
    margin: 20px 6px;
    cursor: default;
}

/*Cennik*/

.zajecia {
	padding: 0;
}

.zajeciaicons {
    display: inline-block;
    width: 40%;
    margin: 5px;
}

.klasyk, .karnet {
	width: 100%;
}

.karnet {
	margin: 20px 0 50px 0;
}

.time, .price {
	display: inline-block;
}

.time {
	padding-left: 5px;
}

.price {
	padding-right: 5px;
}

h5 {
	font-size: 14px;
}

.borderright { 
	border-right: none;
}

.borderleft {
	border-left: none;
}

/*Formularz kontaktowy*/

.form {
	width: 80%;
}

/*footer*/

footer {
	height: auto;
}

footer h4 {
	text-align: center;
}

footer .row {
	margin-bottom: 20px;
}

.adresleft {
	text-align: center;
	text-transform: uppercase;
}

.adresleft p{
	font-weight: 600;
	margin: 0;
}

.adresright p{
	margin: 0;
}

.adres, .links, .map {
	height: auto;
	margin-bottom: 45px;
	border: none;
	text-align: center;
}

.social {
	text-align: center;
	padding: 0;
}

}


/*--------------------------------------- FOR WIDER SCREE-----------------------------------------------*/

@media(min-width: 992px) and (max-width: 1199px) {

/*logo*/
.brand {
    position: absolute;
    width: 300px;
    height: 50px;
    margin: -50px 0 0 100px;
    transition: 1s;
}

.showme {
    margin: 5px 0 0 100px;
    transition: 1.5s;
}

.logo {
    display: inline-block;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 200px;
    margin: 6px 50px;
}

/*navigation*/

nav {
	width: 100%;
	display: inline-block;
	height: auto;
}

.menu {
	width: 100%;
	display: inline-block;
}

.nav {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 1s;
	display: inline-block;
    text-align: right;
    width: 100%;
}

.move {
	font-size: 16px;
	transition: 1s;

}

.navbar-nav {
	position: relative;
}

.navbar-nav li a {
    color: white;
    padding: 0 30px;
	border-radius: 0;
	color: white;
	line-height: 60px;
}

.navbar-nav li {
	margin: 0;
	display: inline-block;
	float: none;
}

}